<table style="width: 100%; border: none; border-spacing: unset; padding: 0">
    <tr>
        <td style="background-color: <?= $this->colorBrand ?>; width: 1px;"></td>
        <td style="width: 26%;">
            <b style="color: black;">Eisenwerkstr. 9 / D-58332 Schwelm</b>
            <br>
            Telefon: +49 (0) 2336-49 03 30
            <br>
            Telefax: +49 (0) 2336-49 03 39
            <br>
            Steuer-Nr.: 5341 341 57061679
            <br>
            VAT-IDNo.: DE 317 931 865
            <br>
            e-mail: info@gomolzig.de
        </td>
        <td style="background-color: <?= $this->colorBrand ?>; width: 1px;"></td>
        <td style="width: 22%;">
            <b style="color: black;">Geschäftsführer</b>
            <br>
            Thomas Kruse
        </td>
        <td style="background-color: <?= $this->colorBrand ?>; width: 1px;"></td>
        <td style="width: 25%;">
            <b style="color: black;">Genehmigungen</b>
            <br>
            <table>
                <tr>
                    <td>EASA.21J.274</td>
                    <td>LBA.21J.0200</td>
                </tr>
                <tr>
                    <td>DE.21G.0410</td>
                    <td>LBA.21G.0410</td>
                </tr>
                <tr>
                    <td>DE.145.0930</td>
                    <td>LBA.145.0930</td>
                </tr>
                <tr>
                    <td>DE.MG.0930</td>
                    <td>LBA.MG.0930</td>
                </tr>
            </table>
        </td>
        <td style="background-color: <?= $this->colorBrand ?>; width: 1px;"></td>
        <td style="width: 26%;">
            <b style="color: black;">Sparkasse Köln Bonn</b>
            <br>
            IBAN: DE37 3705 0198 1934 2563 79
            <br>
            SWIFT-BIC: COLSDE33
        </td>
        <td style="background-color: <?= $this->colorBrand ?>; width: 1px;"></td>
    </tr>
</table>
